<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.florianisme.arduinoiot" >

    <application
        android:icon="@mipmap/ic_launcher" >

        <activity android:name=".MainActivity"/>

        <receiver android:name=".MyStartServiceReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>